<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Número em Fibonacci</title>
</head>
<body>

    <h2>Insira o número</h2>

    <form action="/fibonacci" method="POST">
        <label for="numero">Número: </label>
        <input type="number" id="numero" name="numero" required>
        <br>
        <button type="submit">Verificar</button>
    </form>
    
    <h3>Sequência de Fibonacci</h3>

     <% if (resultado) { %>
        <p><%= resultado %></p>
    <% } %>

</body>
</html>