<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Exercício 1</title>

</head>
<body>

    <div class="bloco2"> 

    <h1>Exercício 1</h1>

    <h2>Valor + Reajuste </h2>
    <h1> <%= valor %>  + 10% = <%= valorAjustado %>  </h1>

    <h2>Voltar para o índice:</h2>
    <h2> <a href="/index">Voltar</a> </h2>

    </div>

</body>
</html>