<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Índice</title>

</head>
<body>
    
    <div class="bloco">
        
    <h1>Índice</h1>

    <h3> <a href="/exercicio1">Exercício 1</a> </h3>

    <h3> <a href="/exercicio2">Exercício 2</a> </h3>

    <h3> <a href="/exercicio3">Exercício 3</a> </h3>
   
    <h3> <a href="/exercicio4">Exercício 4</a> </h3>

'</div>

</body>
</html>